@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     /* font-family */
     --monumnet: "MonumentRegular";
     --monumentUltraBold: "MonumentUltraBold";

     --primary: #05011A;
}

@font-face {
  font-family: "MonumentRegular";
  src: url("../assets/fonts/MonumentExtended-Regular.otf");
}
@font-face {
  font-family: "MonumentUltraBold";
  src: url("../assets/fonts/MonumentExtended-Ultrabold.otf");
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
 background-color:  #05011A;;
}